---

---

<section class="section-aboutme">
    <div class="aboutme-text">
        <h1 class="aboutme__header-text">
            “Małżeństwa potrzebują dziś wsparcia bardziej niż kiedykolwiek. To właśnie pomaganie im jest moją kapłańską misją. Pragnę, aby odkrywali życie mocą sakramentu małżeństwa oraz w pełni cieszyli się życiem seksualnym.”
        </h1>
        <p class="aboutme__header-paragraph">Nazywam się Ksawery Knotz, jestem zakonnikiem i kapłanem, dr teologii pastoralnej i duszpasterzem małżeństw. Od ponad 20 lat realizuję swoją misję wspierania małżeństw - głównie poprzez rekolekcje dla małżeństw oraz współtworzony ze specjalistami oraz małżeństwami portal szansaspotkania.pl. Oprócz tego jestem twórcą storny Knotz.Link na której możecie znaleźć treści zgodne z aktualnym stanowiskiem kościoła. Strona powstała w celu promowania wartościowych treści w internecie. Niestety w aktualnych czasach bardzo dużo w internecie znajduje sie tresci o kłamliwej tresci. Na Knotz.Link znajdziecie tresci godne polecenia i zgodne z naukami kosciola i teoria psychologii.</p>
        <button class="aboutme__btn">Przeczytaj więcej na temat działalności O. Ksawerego Knotz’a</button>
    </div>

    <div class="aboutme__image-front">
        <img class="aboutme__image" src="/ksawery-knotz-front.png" alt="" />
    </div>
</section>

<style>
    	.section-aboutme {
		display: flex;
		padding: 36px;
	}

	.aboutme-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 64px;
	}

	.aboutme__header-text {
		font-size: 48px;
		text-align: center;
	}

	.aboutme__header-paragraph {
		font-size: 20px;
		text-align: left;
	}

	.aboutme__btn {
		font-size: 36px;
		font-weight: 700;
		width: 50%;
		border: 2px solid #000;
		margin-top: 24px;
		padding: 8px;
		box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 2px;
	}

	.aboutme__btn:hover {
		/* tu coś będzie xd */
	}

	.aboutme__image-front {

	}

	.aboutme__image {
		border-radius: 30px;
		border: 2px solid #000;
	}
</style>