---

---

<section class="section-retreat">
    <h1 class="retreat__h1-center">rekolekcje</h1>
    <div class="retreat__wrapper">
        <div class="retreat__text">
            <h2 class="retreat__h2">Prowadzę rekolekcje dla małżeństw które pomagają ludziom rozwinąć miłość do siebie i do Boga.</h2>
            <button class="retreat__btn">Umów Rekolekcje</button>
        </div>
        <div class="retreat__image-container">
            <img class="retreat__image" src="/retreat.png" alt="Rekolekcje" />
        </div>
    </div>
</section>

<style>
    	.section-retreat {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 12px;
	}

	.retreat__h1-center {
		text-align: center;
		text-transform: uppercase;
		padding: 12px;
		font-size:32px;
		font-weight: 700;
	}

	.retreat__wrapper {
		margin-top: 15px;
		width: 100%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		padding: 12px;

	}

	.retreat__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		text-align: center;
		padding: 120px;
		gap: 50%;
	}

	.retreat__h2{
		font-size:32px;
		font-weight: 700;
	}

	.retreat__btn {
		font-size:32px;
		font-weight: 700;
		padding: 10px;
		border: 2px solid #000;
	}

	.retreat__image-container {
		flex:1;
		display: flex;
		justify-content: center;
	}

	.retreat__image {
		border: 2px solid #000;
		border-radius: 30px;
	}

</style>