---
import Layout from '../layouts/Layout.astro';

type Tbooks = {
	url: string,
	link: string,
	alt: string
}

const books: Tbooks[] = [
	{
		url: 'seks-jest-boski.png',
		link: '#',
		alt: 'Seks jest boski'
	},
	{
		url: '/seks-jakiego-nie-znacie.png',
		link: '#',
		alt: 'Seks jakiego nie znacie'
	},
	{
		url: '/nie-bojcie-sie-seksu.png',
		link: '#',
		alt: 'Nie bójcie się seksu'
	},
	{
		url: '/tesciowie-i-mlodzi.png',
		link: '#',
		alt: 'Teściowie i młodzi'
	},
	{
		url: '/labolatorium-milosci.png',
		link: '#',
		alt: 'Labolatorium Miłości'
	},
	{
		url: 'zaslubiny-w-bogu.png',
		link: '#',
		alt: 'Zaślubiny w Bogu'
	}

]

---

<Layout title="Strona Główna | KsaweryKnotz.pl">
<main class="main">
	<section class="section__image">
		<div class="bgImage main-bg">
			<div class="main-bg-container">
				<h1 class="bg-text">
					Ksawery
				</h1>
				<h1 class="bg-text">
					Knotz
				</h1>
			</div>
		</div>
	</section>


	<div class="streight-line"></div>


	<section class="section-aboutme">
		<div class="aboutme-text">
			<h1 class="aboutme__header-text">
				“Małżeństwa potrzebują dziś wsparcia bardziej niż kiedykolwiek. To właśnie pomaganie im jest moją kapłańską misją. Pragnę, aby odkrywali życie mocą sakramentu małżeństwa oraz w pełni cieszyli się życiem seksualnym.”
			</h1>
			<p class="aboutme__header-paragraph">Nazywam się Ksawery Knotz, jestem zakonnikiem i kapłanem, dr teologii pastoralnej i duszpasterzem małżeństw. Od ponad 20 lat realizuję swoją misję wspierania małżeństw - głównie poprzez rekolekcje dla małżeństw oraz współtworzony ze specjalistami oraz małżeństwami portal szansaspotkania.pl. Oprócz tego jestem twórcą storny Knotz.Link na której możecie znaleźć treści zgodne z aktualnym stanowiskiem kościoła. Strona powstała w celu promowania wartościowych treści w internecie. Niestety w aktualnych czasach bardzo dużo w internecie znajduje sie tresci o kłamliwej tresci. Na Knotz.Link znajdziecie tresci godne polecenia i zgodne z naukami kosciola i teoria psychologii.</p>
			<button class="aboutme__btn">Przeczytaj więcej na temat działalności O. Ksawerego Knotz’a</button>
		</div>

		<div class="aboutme__image-front">
			<img class="aboutme__image" src="/ksawery-knotz-front.png" alt="" />
		</div>
	</section>
	<section class="section-books">
		<h1 class="books__h1">KSIĄŻKI</h1>
		<div class="books__list-wrapper">
			<ul class="books__list">
				{
					books.map(({url, link, alt})=> (
						<li class="books__list-item">
							<img class="books__image" src={`/books/${url}`} alt={alt} />
						</li>
					))
				}
			</ul>
			
		</div>
	</section>
	<section class="section-retreat">
		<h1 class="retreat__h1-center">rekolekcje</h1>
		<div class="retreat__wrapper">
			<div class="retreat__text">
				<h2 class="retreat__h2">Prowadzę rekolekcje dla małżeństw które pomagają ludziom rozwinąć miłość do siebie i do Boga.</h2>
				<button class="retreat__btn">Umów Rekolekcje</button>
			</div>
			<div class="retreat__image-container">
				<img class="retreat__image" src="/retreat.png" alt="Rekolekcje" />
			</div>
		</div>
	</section>

</main>
</Layout>

<style>

	.main {
		width: 100%;
	}
	.section__image {
		height: calc(48.96vw - 76px)
	}

	.main-bg {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		padding: 0;
		z-index: 1;
		height: 48.96vw !important;
	}

	.bgImage {
		background-image: url('/main-index-image.png');
		background-size: cover;
  		background-repeat: no-repeat;
  		background-position: center center;
		background-position: center bottom; /* Zmiana pozycji tła */
		border-radius: 0px 0px 30px 30px;
		
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
		position: absolute;
		
		/* min-height: 2000px; */
	}


	.main-bg-container {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.bg-text {
		color: white;
		font-size: 96px;
		font-weight: 700;
		margin-left: 32px;
		/* -webkit-text-stroke: 1px black; */
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Cienie tworzące efekt obrysu */

	}
	.bg-text:nth-child(2){
		margin-bottom: 32px;
	}

	.streight-line {
		width: 95%;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		background: #000;
		margin-top: 28px;
		margin-bottom: 28px;
	}

	.section-aboutme {
		display: flex;
		padding: 36px;
	}

	.aboutme-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 64px;
	}

	.aboutme__header-text {
		font-size: 48px;
		text-align: center;
	}

	.aboutme__header-paragraph {
		font-size: 20px;
		text-align: left;
	}

	.aboutme__btn {
		font-size: 36px;
		font-weight: 700;
		width: 50%;
		border: 2px solid #000;
		margin-top: 24px;
		padding: 8px;
		box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 2px;
	}

	.aboutme__btn:hover {
		/* tu coś będzie xd */
	}

	.aboutme__image-front {

	}

	.aboutme__image {
		border-radius: 30px;
		border: 2px solid #000;
	}

	.section-books {
		background: #232323;
		width: 100%;
		height: 340px;
	}

	.books__h1 {
		color: #fff;
		font-size: 32px;
		font-weight: 700;
		text-align: center;
		padding: 8px;
		margin-bottom: 15px;
	}

	.books__list-wrapper {
		/*  */
	}

	.books__list {
		display: flex;
		flex: 1;
		justify-content: space-around;
	}
	
	.books__image {
		border: 1px solid #000;
	}
	
	.section-retreat {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.retreat__h1-center {
		text-align: center;
		text-transform: uppercase;
		padding: 12px;
		font-size:32px;
		font-weight: 700;
	}

	.retreat__wrapper {
		margin-top: 15px;
		width: 100%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		padding: 12px;

	}

	.retreat__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		text-align: center;
		padding: 120px;
		gap: 50%;
	}

	.retreat__h2{
		font-size:32px;
		font-weight: 700;
	}

	.retreat__btn {
		font-size:32px;
		font-weight: 700;
		padding: 10px;
		border: 2px solid #000;
	}

	.retreat__image-container {
		flex:1;
		display: flex;
		justify-content: center;
	}

	.retreat__image {
		border: 2px solid #000;
		border-radius: 30px;
	}


	
</style>
