---
import Layout from '../layouts/Layout.astro';


// Site Components
import MainImage from '../components/main-page/MainImage.astro'
import Line from '../components/Line.astro'
import About from '../components/main-page/About.astro'
import Books from '../components/main-page/Books.astro'
import Retreat from '../components/main-page/Retreat.astro';



---

<Layout title="Strona Główna | KsaweryKnotz.pl">
<main class="main">
	<MainImage />
	<Line />
	<About />
	<Books />
	<Retreat />
</main>
</Layout>

<style>

	.main {
		width: 100%;
	}

</style>
